name: Build and Test Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t devops-site .

      - name: Run container and test
        run: |
          docker run -d -p 8080:80 --name test-container devops-site
          sleep 5
          curl -f http://localhost:8080 || exit 1
          docker stop test-container
          docker rm test-container
